/* Image to credit later is from: https://www.flickr.com/photos/27680061@N08/2762008601 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url(./images/cartoonworld.png);
  background-position: bottom;
  background-repeat: repeat no-repeat;
  background-color: #bfecff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginBlurb > p {
  line-height: 1.6;
}

.project-list {
  width: 300px;
  margin: auto;
}

footer {
  color: white;
}
